<div class="flex justify-between mx-80 mt-80">
  <div class="bg-green-300 p-20">
    <a href="#" class="text-5xl text-black">献立</a>
  </div>
  <div class="bg-green-300 p-20">
    <a href="#" class="text-5xl text-black">レシピ</a>
  </div>
</div>