<header class="bg-sky-400">
  <nav class="mx-auto flex max-w-7xl justify-between p-3" aria-label="Global">
    <div class="flex py-3">
      <bottom class="bg-slate-700 text-white font-bold py-2 px-4 rounded">
        <%= link_to 'TOP', root_path, class: "text-4xl nav-link hover:text-blue-500" %>
      </bottom>
    </div>
    <div class="flex py-3 text-white">
    検索
    </div>
    <div class="flex py-3">
      <bottom class="bg-slate-700 text-white font-bold py-2 px-4 rounded">
        <%= link_to 'ログイン', login_path, class: "text-4xl nav-link hover:text-blue-500" %>
      </bottom>
    </div>
</header>