<footer class="bg-sky-400">
  <nav class="m-5">
    <div class="item-left">
      <a href="#" class="flex text-black">利用規約</a>
      <a href="#" class="flex text-black">お問い合わせ</a>
      <a href="#" class="flex text-black">プライベートポリシー</a>
    </div>
</footer>